.div_imglst
{
    width:950px;
    height:550px;
    /*background-color:Silver;*/
    }
#div_img 
{
    width:950px;
	height:400px; 
	background-color:Silver;
    /*margin: 0px; 
	overflow: hidden; 
	position: relative; 
	z-index: 20;
	float:left;*/
}
.div_clear_b
{
    width:950px;
    height:10px;
    /*background-color:lightgreen;*/
    float:left;
    }
.div_lr {
	width:950px;
	height: 120px; 
	line-height: 16px; 
	font-size: 12px; 
	/*position: relative;*/
	float:left;
}
.imgBorder 
{
    margin:auto auto 260px 200px;
	border: 2px solid rgb(255, 255, 255);
	cursor: pointer;
	position:absolute;
}
.imgHidden 
{
    margin-left:10px;
    margin-bottom:260px;
	width: 20px;
	height: 0px;
	left: -35px;	
	bottom: 8px;
	position: absolute;
	cursor: pointer;
}
.div_btn {
	border: 1px solid rgb(191, 204, 215); 
	height: 100%; 
	vertical-align: middle; 
	background-color:Silver;
}
/*向右*/
#btnright
{
    background-image:url(../img/lrbtn.png);
	background-position:0px 0px;	 
	width: 35px; 
	height: 35px; 
	overflow: hidden; 
	display: block; 
	cursor: pointer;
	margin:40px 1px auto 1px;
	/*background-color:Green;*/
}
/*向左*/
#btnleft {
	background-image:url(../img/lrbtn.png);
	background-position:37px 37px;/*起点坐标*/
	width: 35px; /*提取图像宽度*/
	height: 35px; /*提取图像高度*/
	overflow: hidden; 
	display: block; 
	cursor: pointer;
	margin:40px 1px auto 1px;
	/*background-color:Green;*/
}
.divleft
{
    width:40px;
    height:120px;
    text-align:right;
    float:left;
    /*background-color:blue;*/
    }
.divmid
{
    width:853px;
    height:120px;
    text-align:center;
    float:left;
    /*background-color:green;*/
    }
.divright
{
    width:40px;
    height:120px;
    text-align:left;
    float:left;
    /*background-color:red;*/
    }
    
/*图*/
#imgSmallLeft {
	left: 10px; 
	width: 100px; 
	height: 60px; 
	bottom: 8px;
}
#imgMiddleLeft {
	left: 120px; 
	width: 160px; 
	height: 120px; 
	bottom: 8px;
}
#imgBig {
	left: 290px; 
	width: 340px; 
	height: 300px; 
	bottom: 8px; 
}
#imgMiddleRight {
	left: 640px; 
	width: 160px; 
	height: 120px; 
	bottom: 8px; 
}
#imgSmallRight {
	left: 810px; 
	width: 100px; 
	height: 60px; 
	bottom: 8px; 
}